* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

html,
body {
  background-color: #f5f7f9;
}

a {
  text-decoration: none;
  color: inherit; /* 继承父元素的颜色 */
}

ul,
li {
  list-style: none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
  background: #e0e2ec;
}
